<a href="{% url 'polls:index' %}">Go back to index</a>
<a href="{% url 'polls:comments_list' %}">See all comments</a>
<h1>Enter a comment:</h1>


<form method="post" action="list">
    {% csrf_token %}
    <div class = "form-group">
        <label for="name">Comment name:</label>
        <input type="text" id="name" name="name" value="">
    </div>
    <div class = "form-group">
        <label for="body">Comment text:</label>
        <textarea id="body" name="body"></textarea>
    </div>

<input type="submit" value="Comment">
</form>