{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand">Polls Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'polls:index' %}">Polls Index</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'polls:comments' %}">Comment Entry</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'polls:comments_list' %}">Comments List</a>
            </li>
        </ul>
    </div>
</nav>

<div class="content">
    <h1>{{ question.question_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <input type="submit" value="Vote">
    </form>

</div>
<!--<ul>-->
<!--    {% for choice in question.choice_set.all %}-->
<!--    <li>{{ choice.choice_text }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->