li a {
    color: green;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: white url("images/background.gif") no-repeat;
}

.links {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: pink;
}